# SPDX-FileCopyrightText: 2024 - 2025 Samuele Musiani <samu@teapot.ovh>
# SPDX-FileCopyrightText: 2025 Stefano Volpe <foxy@teapot.ovh>
# SPDX-FileCopyrightText: 2025 Eyad Issa <eyadlorenzo@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

name: JSON check

on:
  push:
    paths:
      - "**.json"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Check JSON syntax
        uses: limitusus/json-syntax-check@v2
        with:
          pattern: "\\.json$"
      - name: Check JSON formatting
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: --write **/*.json
          only_changed: True
